#landingPage {
  /* background-color: green; */
  justify-content: center;
  height: auto;
  width: auto;
  text-align: center;
  
  margin: auto;
  font-weight: bold;
  color: black;
  background-size: 60%;
  margin: 0 20px;
  
}

#button {
  width: 90px;
  height: 30px;
  margin-bottom: 10px;
}
#startbtn {
  margin: 1px;
}




/* #highScores {
  display: none;
} */

main 
/* #box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;

} */