#landingPage {
  background-color: green;
  justify-content: center;
  height: auto;
  text-align: center;
}

#button {
  width: 90px;
  height: 30px;
  margin-bottom: 10px;
}
#startbtn {
  margin: 1px;
}

main 
/* #box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100%;

} */